<%= form_with(model: inventory_food) do |form| %>
  <%= render partial: "shared/error", locals: { errors: inventory_food.errors } %>

  <div class="field">
    <%= form.label :food, class: "label" %>
    <div class="select is-fullwidth">
      <%= form.select :food_id, @foods %>
    </div>
  </div>

  <div class="field">
    <%= form.label :quantity, class: "label" %>
    <div class="control">
      <%= form.text_field :quantity, class: "input", type: "number", required: true, min: 1 %>
    </div>
  </div>

  <%= form.hidden_field :inventory_id, value: inventory_food.inventory_id %>

  <div class="actions">
    <%= form.submit class: "button is-success" %>
  </div>
<% end %>
