<div class="columns is-flex-direction-column is-align-items-center">
	<div class="column is-three-quarters">
		<div class="content">
			<div class="is-flex is-justify-content-space-between is-align-items-start is-flex-grow-1">
				<h1 class="is-flex is-flex-grow-1"><%= @recipe.name %></h1>
				<small class="tag is-rounded is-info"><%= @recipe.public ? "Public" : "Private" %></small>
			</div>
			<p><span class="has-text-weight-semibold">Preparation time: </span><%= duration_in_words @recipe.preparation_time %></p>
			<p><span class="has-text-weight-semibold">Cooking time: </span><%= duration_in_words @recipe.cooking_time %></p>
			<p><%= @recipe.description %></p>
		</div>
		<div class="buttons">
			<button id="open-modal" class="button is-success is-small">Generate shopping list</button>
			<% if can? :update, @recipe %>
				<%= link_to 'Add ingredient', new_recipe_recipe_food_path(@recipe), class: "button is-success is-small" %>
			<% end %>
		</div>
	</div>
	<div class="column is-three-quarters">
		<%= render partial: "recipe_foods/index", locals: { recipe_foods: @recipe.recipe_foods } %>
	</div>
</div>
<%= render "modal" %>