
<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
			<h4 class="title is-5 is-uppercase has-text-primary"><%= t('brand') %></h4>
    </a>
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <% if user_signed_in? %>
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <%= link_to "Food", foods_path, class: "navbar-item #{current_page?(foods_path) ? "is-active" : ""}" %>
        <%= link_to "My Recipes", recipes_path, class: "navbar-item #{current_page?(recipes_path) ? "is-active" : ""}" %>
        <%= link_to "Public Recipes", public_recipes_path, class: "navbar-item #{current_page?(public_recipes_path) ? "is-active" : ""}" %>
        <%= link_to "Shopping List", general_shopping_list_path, class: "navbar-item #{current_page?(general_shopping_list_path) ? "is-active" : ""}" %>
        <%= link_to "Inventories", inventories_path, class: "navbar-item #{current_page?(inventories_path) ? "is-active" : ""}" %>
      </div>
      <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <span class="button is-static is-small"><%= current_user.name %></span>
              <%= button_to "Sign out", destroy_user_session_path, method: :delete, class: "button is-small is-danger is-light" %>
            </div>
          </div>
      </div>
    </div>
	<% end %>
</nav>