<div class="is-flex is-justify-content-end mb-4">
  <%= link_to t('add_food'), new_food_path, class: "button is-small is-success" %>
</div>
<div class="table-container">
  <table class="table is-fullwidth">
    <thead>
      <tr>
        <th>Food</th>
        <th><abbr title="Measurement unit">Measurement</abbr></th>
        <th><abbr title="Unit price">Price</abbr></th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @foods.each do |food| %>
        <tr>
          <th><%= food.name %></th>
          <td><%= food.measurement_unit %></td>
          <td>$<%= food.price %></td>
          <td><%= link_to 'Delete', food, method: :delete, data: { confirm: 'Are you sure?' }, class: "button is-small is-danger is-light" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
