<p id="notice"><%= notice %></p>
<h1 class="title has-text-centered"><%= @item.name %></h1>
<h1 class="title has-text-centered"><%= @item.price %></h1>
<%= link_to 'Edit', edit_item_path(@item) %>
<%= link_to 'Back', items_path %>
